@{
    ViewData["Title"] = "CreateUser";
}

<h1>CreateUser</h1>

@* <div class="card col-md-12">
    <form asp-action="CreateUser" asp-controller="Home" method="post">
        <div asp-validation-summary="All" style="font-size:23px; font-family: Impact" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" id="UserName" name="UserName" class="form-control" />
        </div>
        <div class="mb-3">
            <label class="form-label">Age</label>
            <input type="text" id="Age" name="Age" class="form-control" />
        </div>
        <div>
            <button class="btn btn-primary float-right" type="submit">Send</button>
        </div>
</div> *@
